.dashboard {
    width: 95%;
    max-width: 1440px;
    margin: 10px;
    background-color: #fff;
}

/* Dashboard Original */

.dashboardOriginal {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

/* Dashboard Sidebar */

.dashboardSidebar {
    padding: 125px 25px 0 25px;    
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    row-gap: 112px;
    justify-items: center;
    align-items: center;
}
.dashboardSidebar .lilies {
    width: 200px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}
.dashboardSidebar .lilies img {
    width: 60px;
}
.dashboardSidebar .liliesText {
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    color: #00302E;
}
.dashboardSidebarMenu {
    width: 270px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.dashboardSidebarMenuEach {
    width: 255px;
    height: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
}
.dashboardSidebarMenuEach:hover {
    background-color: #EFEFEF;
    border-radius: 12px;
    cursor: pointer;
}

/* Dashboard Others */

.dashboardOriginalOthers {
    width: 100%;
    padding: 140px 0 0 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Dashboard Header */

.dashboardHeader {
    width: 100%; 
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.dashboardHeaderText {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.dashboardHeaderText h1 {
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    color: #00302E;
    margin: 0;
}
.dashboardHeaderText p {
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.69);
    margin: 0;
}

/* Dashboard Main */

.dashboardMain {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.items {
    width: 100%; 
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    row-gap: 68px;
    flex-wrap: wrap;
    align-items: center;
}
.item {
    width: 240px;
    height: 237px;
    background-color: rgba(255, 255, 255, 0.83);
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 44px 0 26px 0;
}
.item:hover {
    border: 0.3px solid #00302E;
    box-shadow: 5px 5px 5px #00302E;
    cursor: pointer;
}
.itemDetails {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
}
.itemDetails h3 {
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    color: #00302E;
    margin: 0;
}
.itemDetails span {
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.69);
}
.itemOthers {
    width: 197px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.itemOthers input {
    border: 0;
    width: 70px;
    font-weight: 700;
    font-size: 13px;
    line-height: 33px;
    color: #00302E;
}
.itemOthers span {
    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    color: #06E775;
}
